*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.log
/*.out
*.pdf
*.toc
*.xdy
*.xml
_minted-paper
.stfolder
.stignore
ithare/vector
ithare/list
false-sharing/herb
slides/slides.html
slides/slides.tex
xpose/a.out
bandwidth-1.4
stream
